/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 11, 2016, 6:04:10 PM
    Author     : Ivan
*/

body{ 
    background-color: antiquewhite 
} 

h1{ 
    text-align: center
}

.midden{
    text-align: center
}

.lijstje{
    list-style-position: inside;
    text-align: left; 
    padding-left: 40%;
}

